//COLOURS//
$lightBlueGrey: #eceff1;
$blueGrey: #cfd8dc;
$mercury: #E1E1E1;
$black: #323232;

.hero__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 345px;
  background-color: #fafafa;
  padding: 12px;
  text-align: center;

  h1 {
    font-size: 65px;
    color: #616161;
  }

  h2 {
    font-size: 20px;
    max-width: 320px;
  }
}