//COLOURS//
$lightBlueGrey: #eceff1;
$blueGrey: #cfd8dc;
$mercury: #E1E1E1;
$black: #323232;

.wrapper {
  background-color: white;
}

.dancer__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;


  .dancer__container {
    background-color: #fafafa;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 1px solid $black;
    border-radius: 15px;
  
    img {
      width: 200px;
      height: 280px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
    }
  
    .dancer__information {
      text-align: center;
      max-width: 190px;
  
      h4 {
        margin: 8px;
      }
      
      p {
        margin: 5px;
      }
    }
  
    .dancer__links {
      text-decoration: none;
      color: $black;
    }
  }
}





